@-ms-viewport{
  width: device-width;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
	height: 100%;
	overflow-x: hidden;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 17px;
}

.landing {
	width: 100%;
	height: 90%;
	background-image: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/6UHHE19YG7.jpg");
	background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	text-align: center;
}

.layer {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}

.landing-text{
	opacity: 0;
	color: white;
	font-size: 40px;
	position: absolute;
	text-decoration: none;
	font-style: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
	color: white;
	font-size: 16px;
	background-color: #D47E6A;
	margin-top: 20px;
	width: 180px;
	height: 60px;
	border: none;
	cursor: pointer;
	outline: none;
}

button:hover {
	background-color: #802915;
}

.info {
	width: 100%;
	height: 65%;
	color: white;
	background-color: #802915;
	padding: 40px;
}

.projects {
	width: 100%;
	height: 100%;
	background-color: #D47E6A;
	padding-bottom: 100px;
	padding-top: 20px;
	color: white;
}

.pic {
	text-align: center;
	width: 30%;
	height: 83%;
	margin: 0 auto;
	padding-bottom: 40px;
	background-color: rgba(0, 0, 0, 0.3);
}

.slider-title {
	text-align: center;
}

.pic img{
	width: 65%;
	display: inline;
	margin: 10px auto;
}

.contact {
	text-align: center;
	width: 100%;
	height: 60%;
	color: white;
	background-color: #802915;
	padding: 30px;
	padding-left: 5px;
}

.contact h2 {
	text-align: left;
}

.contact img {
	text-align: center;
	width: 10%;
	margin: 40px;
}

.content {
	width: 75%;
	margin: 0 auto;
}

.footer {
	width: 100%;
  bottom: 0px;
	background-color: #802915;
	height: 30px;
	padding: 20px;
	overflow: hidden;
}

.footer h4 {
	color: white;
	margin-left: 20px;
	width: 100%;
}

@media (max-width: 900px) {
	body {
    overflow-x: hidden;
    over
	}

	h1 {
		font-size: 30px;
	}
	
	h2 {
		font-size: 25px;
	}

	h3 {
		font-size: 14px;
	}

	button {
		font-size: 12px;
		width: 120px;
		height: 35px;
	}

	.landing {
		width: 114.5%;
		height: 55%;
		background-size: 20%
		background-position: left;
	}
	
	.landing-text {
		left: 50%;
	}

	.layer {
		width: 114.5%;
	  height: 55%;
	}

	.landing-text{
	  top: 55%;
	}

	.info {
		width: 104.8%;
		height: 80%;
		padding: 20px;
	}

	.slider-title {
		font-size: 18px;
	}

	.projects {
		width: 104.8%;
		height: 75%;
		padding: 20px;
	}

	.content {
		width: 75%;
		height: 80%;
		margin: 0 auto;
	}

	.pic {
		padding-bottom: 20px;
		height: 75%;
	}

	.pic img{
		width: 80%;
		margin-top: 20px;
	}

	.contact {
		width: 104.8%;
		height: 30%;
		padding: 20px;
	}

	.contact img {
		text-align: center;
		width: 15%;
		margin: 5px;
	}

	.footer {
		width: 105%
	}

	.footer h4 {
		font-size: 12px;
	}

}